 /* ThemeColor One */
 
 .navbar-nav .sub-menu li a:hover,
 .navbar-nav .sub-menu li a i,
 .wawrecipe-banner-text h1,
 .wawrecipe-banner-btn:hover,
 .wawrecipe-fancy-title span,
 .wawrecipe-learn-btn:hover,
 .wawrecipe-service-grid-text i,
 .wawrecipe-filterable ul li a.is-checked,
 .wawrecipe-menu-list-text span,
 .wawrecipe-team-grid-text span,
 .submit:hover input[type="submit"],
 .wawrecipe-testimonial-text i,
 .wawrecipe-info span,
 .wawrecipe-testimonial .slick-arrow:hover,
 .wawrecipe-blog-medium-text span,
 .widget_latest_post time,
 .wawrecipe-blog-medium .wawrecipe-blog-medium-layer:hover .wawrecipe-simple-btn,
 .wawrecipe-blog ul li:hover .wawrecipe-simple-btn,
 .wawrecipe-copyright p a,
 .wawrecipe-breadcrumb ul li.active,
 .wawrecipe-subheader-text span,
 .wawrecipe-blog-option li,
 .wawrecipe-blog-option li a,
 blockquote span,
 blockquote:after,
 .wawrecipe-social-tag a:hover,
 .wawrecipe-prev-post a,
 .wawrecipe-next-post a,
 .wawrecipe-related-option li a,
 .review-reply-link,
 .widget_search form label:before,
 .widget_popular_post time,
 .wawrecipe-cart-btn:hover,
 .widget_cetagories ul li:hover a,
 .widget_cetagories ul li:hover a span,
 .widget-deals-text span,
 .wawrecipe-blog-grid-text span,
 .wawrecipe-blog ul li:hover .wawrecipe-learn-btn,
 .wawrecipe-gallery-filterable ul li:hover a,
 .wawrecipe-gallery-filterable ul li a.is-checked,
 .star-rating-box:before,
 .wawrecipe-recipe-text>span,
 .wawrecipe-product-tags a:hover,
 .wawrecipe-recipe-social ul li a:hover,
 .wawrecipe-team-detail-text>span,
 .wawrecipe-recipe-tabs .nav-tabs>li.active>a,
 .wawrecipe-recipe-tabs .nav-tabs>li.active>a:hover,
 .wawrecipe-recipe-tabs .nav-tabs>li.active>a:focus,
 .wawrecipe-recipe-grid-text>span,
 .wawrecipe-filter .nav-tabs>li.active>a,
 .wawrecipe-filter .nav-tabs>li.active>a:hover,
 .wawrecipe-filter .nav-tabs>li.active>a:focus,
 .wawrecipe-recipe-list-text>span,
 .wawrecipe-recipe ul li:hover .wawrecipe-learn-btn,
 .wawrecipe-team-option li:hover a,
 .wawrecipe-team-option li:hover span,
 .bar-container .bar small,
 .wawrecipe-team-list-text>span,
 .wawrecipe-team-list ul li:hover .wawrecipe-learn-btn,
 .wawrecipe-about-text>span,
 .wawrecipe-user-list ul.sub-menu>li>a:hover,
 .wawrecipe-recipies-tabs .nav-tabs>li.active>a,
 .wawrecipe-recipies-tabs .nav-tabs>li.active>a:hover,
 .wawrecipe-recipies-tabs .nav-tabs>li.active>a:focus,
 .wawrecipe-recipies-list li:before,
 .wawrecipe-price-plan ul li:hover .wawrecipe-learn-btn,
 .form>.btn:hover {
   color: #dd8724;
 }
 
 .wawrecipe-banner-btn:hover:before,
 .wawrecipe-banner-btn:hover:after,
 .wawrecipe-learn-btn:hover:before,
 .wawrecipe-banner-btn:hover span:before,
 .wawrecipe-banner-btn:hover span:after,
 .wawrecipe-learn-btn:hover:after,
 .submit:hover span:after,
 .wawrecipe-learn-btn:hover .btn-shape:before,
 .wawrecipe-learn-btn:hover .btn-shape:after,
 .wawrecipe-team-grid figure>a:before,
 .wawrecipe-service-grid ul li:hover .wawrecipe-service-grid-text i,
 .submit:hover:before,
 .submit:hover:after,
 .submit:hover span:before,
 .wawrecipe-testimonial .slick-dots li.slick-active button,
 .wawrecipe-blog-medium .wawrecipe-blog-medium-layer:hover .wawrecipe-simple-btn:before,
 .wawrecipe-blog ul li:hover .wawrecipe-simple-btn:before,
 .wawrecipe-blog-medium figure a:before,
 .footer-widget-title:before,
 .wawrecipe-blog-medium-slide .slick-dots li.slick-active button,
 .wawrecipe-blog-option li:before,
 .wawrecipe-social-tag a:hover:before,
 .wawrecipe-social-tag a:hover:after,
 .wawrecipe-social-tag a:hover .btn-shape:before,
 .wawrecipe-social-tag a:hover .btn-shape:after,
 .wawrecipe-prenxt-post ul li:hover .btn-shape:after,
 .wawrecipe-prenxt-post ul li:hover .btn-shape:before,
 .wawrecipe-section-heading:before,
 .wawrecipe-prenxt-post ul li:hover .wawrecipe-prev-post:after,
 .wawrecipe-prenxt-post ul li:hover .wawrecipe-next-post:after,
 .wawrecipe-prenxt-post ul li:hover .wawrecipe-prev-post:before,
 .wawrecipe-prenxt-post ul li:hover .wawrecipe-next-post:before,
 .wawrecipe-related-blog figure a:before,
 .widget-author-text h5:before,
 .widget-heading:before,
 .wawrecipe-blog-grid figure a:before,
 .wawrecipe-pagination>ul>li>.current:before,
 .wawrecipe-pagination>ul>li>.current:after,
 .wawrecipe-pagination>ul>li>.current .btn-shape:before,
 .wawrecipe-pagination>ul>li>.current .btn-shape:after,
 .wawrecipe-pagination>ul>li:hover>a:after,
 .wawrecipe-blog-large figure a:before,
 .wawrecipe-pagination>ul>li:hover>span:after,
 .wawrecipe-pagination>ul>li:hover>a:before,
 .wawrecipe-pagination>ul>li:hover>span:before,
 .wawrecipe-pagination>ul>li:hover>a .btn-shape:before,
 .wawrecipe-pagination>ul>li:hover span .btn-shape:before,
 .wawrecipe-cart-btn:hover .btn-shape:before,
 .wawrecipe-pagination>ul>li:hover>a .btn-shape:after,
 .wawrecipe-pagination>ul>li:hover span .btn-shape:after,
 .wawrecipe-cart-btn:hover:after,
 .wawrecipe-blog ul li:hover .wawrecipe-learn-btn:before,
 .wawrecipe-blog ul li:hover .wawrecipe-learn-btn:after,
 .wawrecipe-modern-gallery figure>a:before,
 .wawrecipe-blog ul li:hover .wawrecipe-learn-btn .btn-shape:before,
 .wawrecipe-blog ul li:hover .wawrecipe-learn-btn .btn-shape:after,
 .wawrecipe-gallery-filterable ul li a:before,
 .wawrecipe-recipe-thumb .slick-dots li.slick-active button,
 .wawrecipe-cart-btn:hover:before,
 .wawrecipe-cart-btn:hover .btn-shape:after,
 .wawrecipe-recipe-social ul li a:hover .btn-shape:before,
 .wawrecipe-recipe-social ul li a:hover .btn-shape:after,
 .wawrecipe-recipe-social ul li a:hover:before,
 .wawrecipe-recipe-social ul li a:hover:after,
 .wawrecipe-recipe-grid figure>a:before,
 .wawrecipe-recipe-grid figure>span,
 .wawrecipe-recipe-list figure a:before,
 .wawrecipe-recipe ul li:hover .wawrecipe-learn-btn:before,
 .wawrecipe-recipe ul li:hover .wawrecipe-learn-btn:after,
 .wawrecipe-recipe ul li:hover .wawrecipe-learn-btn .btn-shape:before,
 .wawrecipe-recipe ul li:hover .wawrecipe-learn-btn .btn-shape:after,
 .wawrecipe-team-career ul li>span:before,
 .wawrecipe-team-list figure>a:before,
 .wawrecipe-team-list ul li:hover .wawrecipe-learn-btn:before,
 .wawrecipe-team-list ul li:hover .wawrecipe-learn-btn:after,
 .wawrecipe-team-list ul li:hover .wawrecipe-learn-btn .btn-shape:before,
 .wawrecipe-team-list ul li:hover .wawrecipe-learn-btn .btn-shape:after,
 .wawrecipe-price-plan ul li:hover .wawrecipe-learn-btn:before,
 .wawrecipe-price-plan ul li:hover .wawrecipe-learn-btn:after,
 .widget_tags a:hover,
 .wawrecipe-price-plan ul li:hover .wawrecipe-learn-btn .btn-shape:before,
 .wawrecipe-price-plan ul li:hover .wawrecipe-learn-btn .btn-shape:after,
 .wawrecipe-pagination>ul>li:hover>a,
 .wawrecipe-pagination>ul>li:hover>span,
 .wawrecipe-pagination>ul>li>.current,
 ul.nav li:before {
   background-color: #b99563;
 }
 
 .wawrecipe-service-grid ul li:hover .wawrecipe-service-grid-text i,
 .wawrecipe-images-list-layer.slick-slide.slick-current.slick-active span,
 .wawrecipe-recipe-tabs .nav-tabs>li.active>a,
 .wawrecipe-recipe-tabs .nav-tabs>li.active>a:hover,
 .wawrecipe-recipe-tabs .nav-tabs>li.active>a:focus,
 .wawrecipe-recipies-tabs .nav-tabs>li.active>a,
 .wawrecipe-recipies-tabs .nav-tabs>li.active>a:hover,
 .wawrecipe-recipies-tabs .nav-tabs>li.active>a:focus,
 .wawrecipe-contact-info ul li:hover .wawrecipe-contact-info-wrap i,
 .widget_tags a:hover,
 .form>.btn:hover {
   border-color: #b99563;
 }
 
 .navbar-nav .sub-menu {
   border-bottom-color: #b99563;
 }
 
 .wawrecipe-user-list li a span {
   background-color: red;
   color: white
 }